
body {
    font-family: 'Metrophobic', sans-serif;
    width: 646px;
height: 748px;
margin: 0 auto;
}
.main-wrap {
    width: 340px;
}
.card {
padding: 20px 10px;
margin: 20px 0px;
border-radius: 3.615px;
border: 0.904px solid #007F61;
background: #F4FBF9;
}
.save-wrap {
    display: flex;
    align-items: center;

}
.save-wrap h4 {
    color: #007F61;
    margin: 0px 4px;
font-size: 18.076px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.theme-border {
    width: 100px;
    height: 0.904px;
    background: #C8C8C8;
}
.radio-wrap {
    display: flex;
    justify-content: space-between;
}
.radio-wrap h5{
    margin: 0;
}
.wrap-1 {
    display: flex;
    align-items: center;
}
.wrap-1 input {
    margin: 0px 10px;
}
.wrap-2 {
    display: flex;
    align-items: flex-end;
}
.wrap-2 del {
    margin: 0px 10px;
    font-size: 10px;
}
/* input[type="radio"]:checked + label::before {
    border-color: green; 
    background-color: green; 
  } */
 .theme-color {
    color: #007F61;
 }
 #my-radio {
	accent-color: green;
}
#taskTable th {
    color: #000;
font-size: 9.942px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#taskTable td {
    color: #000;
font-size: 10.846px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#taskTable select {
    width: 65.978px;
height: 25.306px;
border-radius: 1.808px;
border: 0.904px solid #D9D9D9;
background: #FFF;
}
.free-save-wrap {
display: flex;
justify-content:space-between;
}
.free-save-wrap h3{
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
}
.theme-button {
    height: 48px;
    border-radius: 4px 4px 4px 0px;
    background: #007F61;
    width: 100%;
    border: 0;
    margin-top: 20px;
    color: #fff;
}
small {
    color: #000;
font-size: 12px;
font-style: italic;
font-weight: 300;
line-height: normal;
/* text-align: right;
 */
 float: right;
}